body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 26px;
}

h1 {
	font-size: 36px;
	line-height: 36px;
}

div.center {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right:0 auto;
	margin-left:0 auto;
}


