body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 26px;
}

.pg {
	font-size: 24px;
	line-height: 32px;
}

h1 {
	font-size: 36px;
	line-height: 36px;
}

.center {
	margin: 0 auto;
	width: 60%;
}

hr {
	border: none;
	height: 1px;
	color: lightgrey;
	background-color: lightgrey;
	text-align: center;
	width: 100%;

}

li {
	line-height: 40px;
}

ul {
	line-height: 10px;
}

.tip {
  background-color: #def6ed;
  border-radius: 4px;
  padding: 10px;
  margin: 25px;
}


.button {
   	background-color: darkblue;
   	border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
   	text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a {
	background-color: darkblue;
   	border-color: red;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
   	text-decoration: none;
    display: inline-block;
    font-size: 16px;
}